.emailList {
    flex:1;
    overflow: scroll;
}

.emailList__settings {
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    justify-content: space-between;
    z-index: 999;
    padding-right: 10px;
}


.emailList::-webkit-scrollbar {
    display: none;
}

.emailList {
    -ms-overflow-style:none; /* IE and Firefox */
    scrollbar-width: none; /* Firefox */
}
.emaiList__sections {
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList__List {
    padding-bottom: 20%;
}
